.main {
  :global(.hero) :global(.wrapper) {
    max-width: var(--inner-width);
  }
}
.post {
  max-width: var(--blog-width);
  padding: var(--gap);
  margin: 1rem auto;
  line-height: 1.75em;
}
.post h2,
.post h3 {
  margin-top: 2rem;
  margin-bottom: 0.75rem;
}
.post p {
  margin: 1rem auto;
}
.post strong {
  font-weight: 600;
}
.post ul,
.post ol {
  padding-left: var(--gap);
  margin-bottom: var(--gap);
}
.post div > pre code {
  @media (min-width: 480px) {
    margin-left: var(--gap);
    margin-right: var(--gap);
  }
}
.post img {
  display: inline-block;
  max-width: 100%;
}
.post img[width='320'] {
  margin-left: calc(50% - 160px); // centering hack on mobile
}
@media (min-width: 480px) {
  .post img[src*='#left'] {
    float: left;
    margin-right: 2em;
    max-width: 50%;
  }
  .post img[src*='#right'] {
    float: right;
    margin-left: 2em;
    max-width: 50%;
  }
}
.title {
  text-align: center;
}
.description {
  font-size: 1.11em;
  text-align: center;
}
.publishDate {
  font-size: 0.8em;
  white-space: nowrap;
}
.author {
  font-size: 0.9em;
  white-space: nowrap;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
