.callout {
  background-color: var(--backgroundToo);
  padding: 1em 1.5em;

  h3 {
    margin-top: 0.5rem;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
    max-width: 200px;
  }
  p {
    font-size: 1.11em;
  }
}
.callout.callout.callout {
  p {
    text-align: left;
  }
}
.callout img {
  max-width: 100%;
  float: left;
  margin-right: 0.25rem;

  @media (prefers-color-scheme: dark),
  (prefers-color-scheme: no-preference) and (environment-blending: dark),
  (forced-colors: dark) {
    filter: contrast(0%) brightness(2);
  }
}
