.hero {
  position: relative;
  color: var(--alwaysWhite);

  h1 {
    display: inline;
    font-size: clamp(1.5rem, 2.5vw, 2rem);
  }
  a {
    color: inherit;

    text-underline-offset: 0.2rem;
    text-decoration: underline;
    transition: text-underline-offset 0.2s;

    &:hover {
      text-underline-offset: 0.5rem;
      text-decoration: underline;
    }
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    padding: 5rem var(--gap) 8vmax var(--gap);
    gap: max(0.4rem, 3.6%);
    max-width: var(--inner-width);

    @media (min-width: 640px) {
      padding-top: 10vmax;
    }

    img {
      margin-bottom: 2rem;

      @media (min-width: 480px) {
        margin-bottom: 0;
      }
    }
  }
}
.hero:global(.row) .wrapper {
  @media (min-width: 480px) {
    display: flex;
    flex-direction: row-reverse;
  }
}
