// Navigation.module.scss
.navigation {
  text-align: center;
  user-select: none;

  ul {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.75rem 0;

    list-style-type: none;
    text-align: center;
  }
  a {
    display: inline-block;
    padding: 0.5rem;
    color: inherit;
    font-size: 1.25rem;
    line-height: 1;
    text-decoration: underline;
    text-decoration-color: transparent;
    white-space: nowrap;
    transform: translateY(0);
    transition:
            color 0.25s,
            transform 0.25s,
            text-decoration-color 0.25s,
            text-underline-offset 0.25s;
    text-underline-offset: -0.2rem;

    &.active,
    &:hover {
      transform: translateY(-0.3rem);
      text-decoration-color: white;
      text-underline-offset: 0.5rem;
    }
    &.active {
      opacity: 0.8;
    }
  }
}
