.projectCard {
  display: flex;
  position: relative;
  z-index: 0;
  flex-direction: column;
  flex-basis: calc(33.333% - var(--gap));
  min-width: 260px;
  padding: var(--gap);
  border: 1px solid var(--line-color);
  background-color: var(--backgroundToo);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition:
          transform 0.2s ease,
          box-shadow 0.2s ease;

  @media (max-width: 800px) {
    flex-basis: calc(50% - 1rem);
  }
  @media (max-width: 480px) {
    flex-basis: 100%;
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  }
}
.projectImageContainer {
  box-shadow: inset 0px 0px 3vmax var(--backgroundToo);
  margin-bottom: calc(var(--gap) / 2);
  overflow: hidden;
}
.projectImage {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4%;
  z-index: -1;
}
.projectSummary {
  font-size: 1rem;
  margin-bottom: 1rem;
}
.projectDescription {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  flex-grow: 1;
  display: none;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.tag {
  background-color: var(--background);
  padding: 0.1rem 0.5rem;
  border-radius: 999px;
  font-size: 0.8rem;
}
