/* page.module.css */

.postIndex {
  margin-top: var(--gutter);

  :global(.postDetails) {
    @media (min-width: 480px) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.wrapper {
  max-width: var(--blog-width);
  margin: auto;
  padding: var(--gap);
}
