/* app/projects/page.module.css */
.allProjects {
  margin-top: var(--gutter);

  .wrapper {
    padding: var(--gap);
  }
}
.archive {
  margin: var(--gutter) auto;
  padding-top: var(--gutter);

  h2 {
    text-align: center;
  }
  p {
    text-align: center;
    margin-bottom: calc(var(--gutter) * 2);
  }
  :global(.projectsGrid) {
    align-items: center;
    position: relative;
    z-index: 1;
    gap: calc(var(--gap) / 2) calc(var(--gap) / 1.5);
  }
  :global(.projectCard) {
    padding: 0;
    background-color: transparent;
    border: 0 none;
    flex-basis: calc(50% - var(--gap));
    min-width: auto;

    &:hover {
      transform: translateY(0);
    }

    :global(.projectImageContainer) {
      margin-bottom: 0;
      border-radius: 0;

      img {
        display: block;
        object-position: top;
        aspect-ratio: 5 / 4;
      }
    }

    & > *:not(:global(.projectImageContainer)) {
      display: none;
    }

    @media (min-width: 640px) {
      flex-basis: calc(16.67% - var(--gap));
    }
  }
}
