.listenButton {
  display: inline-flex;
  background: var(--background);
  color: var(--foreground);
  border: none;
  border-radius: 0.75em;
  padding: 0.5em 1.5em;
  margin-top: 1em;
  font-size: 0.88rem;
  cursor: pointer;
  transition:
          opacity 0.2s,
          box-shadow 0.2s;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}
.listenButton:hover,
.listenButton:focus {
  opacity: 0.66;
  box-shadow: 0 0 0 transparent;
}
.listenButton.speaking {
  background: #750440;
  color: #fff;
}
