// Container for the related posts section
.container {
  max-width: var(--blog-width);
  padding: var(--gap);
  margin: 1rem auto;

  .heading {
    font-size: 1.25rem;
    margin: 0 0 1.5rem 0;
    text-align: center;
  }
}
