/* font size */
.fs-xs {
    font-size: 0.75em;
}
.fs-sm {
    font-size: 0.875em;
}
.fs-md {
    font-size: 1.11em;
}
.fs-lg {
    font-size: 1.25em;
}
.fs-xl {
    font-size: 1.5em;
}
.fs-xxl {
    font-size: 2em;
}

/* alignment  */
.ta-left {
    text-align: left;
}
.ta-center {
    text-align: center;
}
.ta-right {
    text-align: right;
}
